.body-block-forth-main {
    width: 100%;
    margin-top: 80px;
}

.body-block-forth-img {
    width: 30px;
}

.body-block-forth-background {
    background-image: url('https://n1qcode.github.io/ivans-valley/img/scrollimg1.jpg'), linear-gradient(120deg, #fff7eb, transparent);
    background-blend-mode: overlay;
    background-size: 100% 100%;
    border-radius: 15px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    width: 1200px;
    height: 450px;
    margin: auto;
}

.body-block-forth-background-about {
    background-image: url('https://n1qcode.github.io/ivans-valley/img/abouttoplogo.png'), -webkit-linear-gradient(top, rgba(0,0,0,0.20), rgba(34,34,34,0.40));
    background-blend-mode: overlay;
    background-size: 100% 100%;
    border-radius: 15px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    width: 1200px;
    height: 450px;
    margin: auto;
}

.body-block-forth {
    display: flex;
    width: 470px;
    padding-left: 70px;
}

.body-block-forth-h1 {
    color: #333333;
    font-size: 50px;
    width: 650px;
    margin: 15px;
    padding-top: 90px;
    padding-left: 100px;
}

.body-block-forth-h1-about {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    font-size: 72px;
    padding-top: 183px;
    display: flex;
    justify-content: center;
}

.body-block-forth-h1-p {
    margin: 0;
    letter-spacing: 2px;
}

.body-block-forth-h1-p-about {
    margin: 0;
    letter-spacing: 2px;
}

.body-block-forth-text {
    color: #333333;
    font-size: 25px;
    margin: 15px;
    letter-spacing: 2px;
}

@media (max-width: 1263px) {

    .body-block-forth-background {
        width: 900px;
    }

    .body-block-forth-background-about {
        width: 900px;
    }

}

@media (max-width: 971px) {

    .body-block-forth-background {
        width: 830px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-forth-background-about {
        width: 830px;
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 901px) {

    .body-block-forth-background {
        width: 758px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-forth-background-about {
        width: 758px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-forth {
        width: 536px;
        padding-left: 146px;
    }

}

@media (max-width: 826px) {

    .body-block-forth-h1-p-about {
        font-size: 63px;
    }

    .body-block-forth-h1 {
        padding-left: 48px;
    }

    .body-block-forth-h1-about {
        padding-top: 129px;
    }

    .body-block-forth {
        padding-left: 104px;
    }

    .body-block-forth-background {
        width: 645px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-forth-background-about {
        width: 645px;
        height: 333px;
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 706px) {

    .body-block-forth-h1-p-about {
        font-size: 53px;
    }

    .body-block-forth-h1 {
        padding-left: 14px;
        width: 535px;
    }

    .body-block-forth {
        padding-left: 86px;
    }

    .body-block-forth-background {
        width: 582px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-first-right-img {
        width: 584px;
    }

    .body-block-forth-background-about {
        width: 582px;
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 600px) {

    .body-block-forth-h1-p-about {
        font-size: 45px;
    }

    .body-block-forth-h1-about {
        padding-top: 118px;
    }

    .body-block-forth-h1-p {
        font-size: 35px;
    }

    .body-block-forth-text {
        font-size: 22px;
    }

    .body-block-forth-img {
        width: 30px;
    }

    .body-block-forth-h1 {
        padding-left: 42px;
        padding-top: 19px;
        width: 419px;
    }

    .body-block-forth {
        width: 453px;
        padding-left: 65px;
    }

    .body-block-forth-background {
        width: 475px;
        height: 295px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-forth-background-about {
        width: 475px;
        height: 295px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-first-right-img {
        width: 524px;
    }

}

@media (max-width: 523px) {

    .body-block-forth-h1-p-about {
        font-size: 33px;
    }

    .body-block-forth-h1-about {
        padding-top: 89px;
    }

    .body-block-forth-h1 {
        width: 313px;
        padding-left: 22px;
    }

    .body-block-forth {
        width: 339px;
        padding-left: 17px;
    }

    .body-block-forth-h1-p {
        font-size: 25px;
    }

    .body-block-forth-text {
        font-size: 19px;
        margin: 10px;
    }

    .body-block-forth-background {
        width: 345px;
        height: 250px;
    }

    .body-block-forth-background-about {
        width: 345px;
        height: 219px;
    }

    .body-block-forth-img {
        width: 26px;
    }
    .body-block-first-right-img {
        width: 384px;
    }
}

@media (max-width: 383px) {

    .body-block-forth-h1-p-about {
        font-size: 27px;
    }

    .body-block-forth-h1-about {
        padding-top: 71px;
    }

    .body-block-forth {
        width: 320px;
        padding-left: 25px;
    }

    .body-block-forth-h1 {
        width: 270px;
        padding-left: 12px;
        margin-bottom: 8px;
        margin-top: 5px;
        padding-top: 10px;
    }

    .body-block-forth-h1-p {
        font-size: 22px;
    }

    .body-block-forth-text {
        font-size: 17px;
        margin: 10px;
    }

    .body-block-forth-img {
        width: 20px;
    }

    .body-block-forth-background {
        width: 295px;
        height: 200px;
    }

    .body-block-forth-background-about {
        width: 295px;
        height: 177px;
    }
    .body-block-first-right-img {
        width: 320px;
    }

}
