.body-block-third {
    width: 1160px;
    margin: auto;
}

.body-block-third-icon-text {
    background-color: white;
    display: flex;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 10%);
    width: 1160px;
}

.bottom-third-block {
    width: 170px;
}

.body-block-third-img {
    width: 60px;
}

.body-block-third-text {
    color: #333333;
    font-size: 17pt;
    padding-left: 25px;
    margin: 0;
    letter-spacing: 2px;
}

.body-block-third-icon-text-block-size {
    display: flex;
    align-items: center;
}

.body-block-third-icon-text-block-size-setting-top {
    margin-top: 30px;
}

.body-block-third-icon-text-block-size-setting-bottom {
    margin-bottom: 30px;
}

.body-block-third-icon-text-block-size-bottom {
    padding-top: 30px;
}

.bottom-third-block-size {
    padding-left: 60px;
    padding-top: 25px;
}

.body-block-third-icon-text-block {
    padding-left: 60px;
}

@media (max-width: 1263px) {

    .body-block-third {
        width: auto;
    }

    .body-block-third-icon-text-adaptive {
        display: flex;
        justify-content: center;
    }

    .body-block-third-icon-text-adaptive-help {

    }

    .body-block-third-icon-text {
        display: block;
        background-color: white;
        border-radius: 30px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0 10px 25px 0 rgb(0 0 0 / 10%);
        width: 600px;
    }

    .bottom-third-block-size {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

}

@media (max-width: 771px) {

    .bottom-third-block-size {
        padding-top: 0;
    }

    .body-block-third-text {
        font-size: 22px;
    }

    .body-block-third-img {
        width: 48px;
    }

    .body-block-third-icon-text {
        width: 532px;
    }

}

@media (max-width: 568px) {

    .body-block-third-icon-text-block {
        padding-left: 30px;
    }

    .body-block-third-icon-text {
        width: 497px;
    }

}


@media (max-width: 523px) {

    .body-block-third-icon-text-block-size-setting-top {
        margin-top: 15px;
    }

    .body-block-third-icon-text-block {
        padding-left: 10px;
    }

    .body-block-third-icon-text-block-size-setting-bottom {
        margin-bottom: 15px;
    }

    .body-block-third-icon-text-block-size-bottom {
        padding-top: 15px;
    }

    .body-block-third-text {
        font-size: 22px;
    }

    .body-block-third-img {
        width: 46px;
    }

    .body-block-third-icon-text {
        width: 375px;
    }

    .bottom-third-block-size {
        padding-left: 0;
    }
}

@media (max-width: 383px) {

    .body-block-third-icon-text-block {
        padding-left: 15px;
    }

    .body-block-third-text {
        font-size: 22px;
    }

    .body-block-third-img {
        width: 36px;
    }

    .body-block-third-icon-text {
        width: 268px;
    }

}

