.body-block-first {
    display: flex;
    height: 355px;
    justify-content: center;
}

.body-block-first-left {
    padding-left: 130px;
    width: 700px;
}

.body-block-first-left-start-green {
    color: #16be00;
    font-size: 20pt;
    letter-spacing: 2px;
}
.body-block-first-left-start-black {
    color: #222222;
    font-size: 17pt;
    letter-spacing: 2px;
}

.first-line-text {
    padding-top: 100px;
    padding-bottom: 30px;
}

.body-block-first-left-other {
    color: #222222;
    font-size: 18pt;
    line-height: 40px;
    letter-spacing: 2px;
}

.body-block-first-right-img {
    width: 720px;
    border-radius: 25px;
}

@media (max-width: 1423px) {

    .body-block-first-right-img {
        width: 566px;
        border-radius: 25px;
    }

}

@media (max-width: 1263px) {

    .body-block-first {
        display: block;
        height: 690px;
        justify-content: center;
    }

    .body-block-first-right {
        display: flex;
    }

    .body-block-first-right-img {
        margin: auto;
        width: 720px;
        border-radius: 25px;
    }

    .body-block-first-left {
        width: 700px;
        padding-left: 0;
    }

    .body-block-first-left-adaptive {
        display: flex;
        justify-content: center;
    }

    .first-line-text {
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

@media (max-width: 771px) {

    .first-line-text {
        display: block;
    }

    .body-block-first-left-start-green {
        font-size: 29pt;
    }

    .body-block-first-left-start-black {
        font-size: 28pt;
    }

    .body-block-first-left {
        text-align: center;
        line-height: 40px;
        width: 495px;
    }

    .body-block-first-right-img {
        width: 523px;
    }

    .body-block-first {
        height: 745px;
    }

    .body-block-first-left-other {
        font-size: 20pt;
    }

}

@media (max-width: 665px) {

    .body-block-first-left-other {
        font-size: 20pt;
    }

    .body-block-first-left {
        width: 507px;
    }

}

@media (max-width: 523px) {

    .body-block-first-left-start-green {
        font-size: 21pt;
    }

    .body-block-first-left-start-black {
        font-size: 20pt;
    }

    .body-block-first-left-other {
        font-size: 15pt;
        line-height: 29px;
    }

    .body-block-first-left {
        line-height: 29px;
        width: 369px;
    }

    .first-line-text {
        padding-bottom: 8px;
    }

    .body-block-first {
        height: 495px;
    }

    .body-block-first-right-img {
        width: 383px;
    }

}

@media (max-width: 383px) {

    .body-block-first-left-start-green {
        font-size: 17pt;
    }

    .body-block-first-left-start-black {
        font-size: 17pt;
    }

    .body-block-first {
        height: 471px;
    }

    .body-block-first-left {
        width: 309px;
    }
    .body-block-first-left-other-adaptive-help {
        display: flex;
        justify-content: center;
    }

    .body-block-first-left-other-adaptive {
        width: 284px;
    }

    .body-block-first-left-other {
        font-size: 14pt;
        line-height: 22px;
    }

    .body-block-first-right-img {
        width: 320px;
    }

}