.body-block-eighth {
    display: flex;
    width: 470px;
    padding-left: 70px;
}

.body-block-eighth-main {
    width: 100%;
    margin-top: 80px;
}

.body-block-eighth-img {
    width: 30px;
}

.body-block-eighth-background {
    background-image: url('https://n1qcode.github.io/ivans-valley/img/eighthblockimg.jpg');
    background-size: 100% 100%;
    border-radius: 15px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.body-block-eighth-background-adaptive {
    background-size: 100% 100%;
    border-radius: 15px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    width: 1200px;
    height: 600px;
    margin: auto;
    display: none;
    justify-content: center;
}

.body-block-eighth-mail-window {
    display: block;
    border: 2px solid #333;
    border-radius: 5px;
    width: 420px;
    height: 55px;
    padding: 10px;
    color: #000000;
    font-size: 26px;
    line-height: 1.55;
    font-weight: 300;
    letter-spacing: 2px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.body-block-eighth-feedback {
    display: flex;
    justify-content: center;
}

.body-block-eighth-h1-p {
    color: #333333;
    font-size: 40px;
    width: 650px;
    margin: 15px;
    padding-top: 55px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.body-block-eighth-h1 {
    display: flex;
    justify-content: center;
}

.body-block-eighth-bottom-text-box {
    display: flex;
    justify-content: center;
}

.body-block-eighth-bottom-text {
    color: #333333;
    padding-top: 10px;
    margin: 0;
    padding-right: 150px;
}

.body-block-eighth-feedback-button {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    padding: 19px 30px;
    color: #ffffff;
    background: #16be00;
    border-radius: 25px;
    border: 0 solid #354251;
    transition: all 0.8s ease;
    margin-left: 10px;
    letter-spacing: 2px;
}

.body-block-eighth-feedback-button:hover {
    background: #ffffff;
    color: #16be00;
    border: 0 solid #354251;
    transition: all 0.4s ease;
}

.body-block-eighth-background-second {
    width: 700px;
    height: 300px;
    background: white;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 10%);
}

@media (max-width: 1263px) {

    .body-block-eighth-background {
        width: 900px;
    }

}

@media (max-width: 971px) {

    .body-block-eighth-background {
        width: 830px;
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 901px) {

    .body-block-eighth-feedback {
        display: block;
    }

    .body-block-eighth-feedback-adaptive {
        display: flex;
        justify-content: center;
    }

    .body-block-eighth-feedback-button-box {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .body-block-eighth-h1-p {
        padding-top: 30px;
    }
    .body-block-eighth-background {
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 855px) {

    .body-block-eighth-background {
        width: 755px;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-eighth-background-second {
        width: 578px;
    }

}

@media (max-width: 780px) {

    .body-block-eighth-background {
        width: 728px;
        background-attachment: unset;
        background-repeat: unset;
    }

}

@media (max-width: 771px) {

    .body-block-eighth-background {
        display: none;
    }

    .body-block-eighth-background-adaptive {
        display: flex;
        width: 642px;
        background-attachment: unset;
        background-repeat: unset;
        height: 310px;
    }

}


@media (max-width: 660px) {

    .body-block-eighth-background-adaptive {
        width: auto;
        background-attachment: unset;
        background-repeat: unset;
    }

    .body-block-eighth-background-second {
        width: 571px;
    }

    .body-block-eighth-mail-window {
        width: 457px;
        font-size: 22px;
        height: 62px;
    }

    .body-block-eighth-h1-p {
        font-size: 45px;
    }

    .body-block-eighth-feedback-button {
        font-size: 18px;
    }

}

@media (max-width: 618px) {

    .body-block-eighth-background-second {
        width: 509px;
    }

}

@media (max-width: 564px) {

    .body-block-eighth-background-second {
        width: 465px;
        height: 300px;
    }

    .body-block-eighth-mail-window {
        width: 408px;
    }

}

@media (max-width: 503px) {

    .body-block-eighth-h1-p {
        padding-top: 6px;
    }

    .body-block-eighth-background-second {
        width: 413px;
        height: 281px;
    }

    .body-block-eighth-mail-window {
        width: 373px;
    }

}

@media (max-width: 450px) {

    .body-block-eighth-background-second {
        width: 360px;
        height: 255px;
    }

    .body-block-eighth-mail-window {
        width: 325px;
    }

}

@media (max-width: 383px) {

    .body-block-eighth-main {
        margin-top: 50px;
    }

    .body-block-eighth-h1-p {
        padding-bottom: 0;
    }


    .body-block-eighth-background-second {
        width: 301px;
    }

    .body-block-eighth-mail-window {
        width: 270px;
    }

}
