.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,235,210);
    background: linear-gradient(90deg, rgba(255,235,210,1) 0%, rgba(255,242,226,1) 28%, rgba(236,249,211,1) 100%);
    z-index: 1001;
}

.hide-preloader {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s 1s;
}

.hide-preloader-full {
    display: none; !important;
}

.preloader-img {
    width: 300px;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    40% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1263px) {
    .preloader-img {
        width: 300px;
    }
}

@media (max-width: 1209px) {
    .preloader-img {
        width: 300px;
    }
}

@media (max-width: 971px) {
    .preloader-img {
        width: 232px;
    }
}

@media (max-width: 901px) {
    .preloader-img {
        width: 207px;
    }
}

@media (max-width: 771px) {
    .preloader-img {
        width: 168px;
    }
}

@media (max-width: 523px) {
    .preloader-img {
        width: 144px;
    }
}

@media (max-width: 383px) {
    .preloader-img {
        width: 125px;
    }
}
